div {
    font-family: Arial;
}

.container {
    border: none;
    width: 400px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px
}

.inbox {
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 14px;
    color: gray
}

.mail {
    display: flex;
    margin-bottom: 20px
}

.profil-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    margin-right: 10px
}

.right {
    flex:1
}
.row1 {
    display: flex;
    justify-content: space-between;
}
.row1-title{
    font-weight: bold;
    font-size: 17px
}
.row1-hour {
    color: gray;
    font-size: 13px
}
.row2 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 4px
}
.row3 {
    color: gray;
    font-size: 15px
}