.bar {
    border-radius: 20px;
    border: none;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    margin-left: 20px;
    margin-top: 20px;
    width: 400px;
    box-shadow: 1px 1px 5px rgba(184, 182, 182, 0.5);
}
