p {
    font-family: Arial;
    color: rgb(111, 111, 111);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
.mail {
    margin-bottom: 5px;
}
.bar {
    width: 368px;
    margin-bottom: 17px;
    font-size: 17px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color:rgb(111, 111, 111);
}
.text {
    margin-bottom: 17px;
}
.button {
    color: white;
    background-color: rgb(0, 132, 255);
    border: none;
    width: 368px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 22px;
    font-size: 18px
}