p {
    font-family: "arial";
    margin-bottom: 0px;
    margin-top: 0px;
}
.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px
}
.sales {
    font-style: italic;
    font-size: 18px;
    color: red;
}